.standpoint__list-item {
  position: relative;
}

.standpoint__list-item::before {
  content:  "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background:  url(../../../image/checkmark.png) no-repeat center;
  background-size: contain;
}
